* {
    margin: 0;
    padding: 1000;

}

.country_info_display {
    margin: 10px;
    padding: 20px;
    font-size: larger;
    font-weight: bold;
    

}

.social_media_links{
    margin: 5%;
}


body {
    /* padding-top: 15%; */
    /* background-color: #0a315c; */
    background-image: radial-gradient(rgb(63, 63, 165), rgb(28, 28, 135), blue);

    text-align: center;
    font-family:fantasy;
    font-style: italic;
    color: whitesmoke;
    font-size: large;
    font-weight: 300;
} 

.button{
    background: coral;
    padding: 1em 2em;
    color: white
}

.button-hover{
    background: #333;

}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
    background: lightblue;
    margin: 20% auto;
    width: 70%; 
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17); 
    animation: modalopen;
    animation-duration: 2s;
}
.modal-header h2, .modal-footer h3{
    margin: 0;
}
.modal-header{
    background: coral;
    padding: 15px;
    color: white;
}

.modal-body{
    padding: 10px 20px;
}

.modal-footer{
    background: coral;
    padding: 10px;
    color: white;
    text-align: center; 
}

.closeBtn{
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;

}

.closeBtn:hover, .closeBtn:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen{
    from{opacity: 0}
    to {opacity: 1}
}

path:hover {
    fill: rosybrown;
}

/* .dropdown{
    display: flex;
   
}  */

 h1 {
     padding-top: 5%;
     margin: 0;
     text-align: center;
     font-size: 4em;
     font-family: fantasy;
     position: center;
     z-index: 1;
     font-weight: bold;
     color: rgb(80, 184, 177);
 }



 .country {
     fill: rgb(23, 116, 45);
     stroke: rgb(7, 70, 55);
    
 }