* {
    margin: 0;
    padding: 1000;

}

body {
    /* padding-top: 15%; */
    background-color: #BDDCFF;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

path:hover {
    fill: rosybrown;
}

.dropdown{
    display: flex;
   
} 

 h1 {
     padding-top: 5%;
 }

 .country {
     fill: #ccc;
     stroke: #999;
 }